{% extends 'base.html' %}
{% block content %}
    <h1 class="animated-title">Добавить стих</h1>
    <form method="POST">
        <label for="title">Название:</label>
        <input type="text" id="title" name="title" required>
        <label for="content">Текст стиха:</label>
        <textarea id="content" name="content" required></textarea>
        <label for="audio_url">Ссылка на аудио (необязательно):</label>
        <input type="url" id="audio_url" name="audio_url" placeholder="https://...">
        <button type="submit">Добавить</button>
    </form>
{% endblock %}